@import url(https://db.onlinewebfonts.com/c/1be1f31c94ba148427b422c0f7fb1fc9?family=Guess+Sans+W00+Ultra);
@import url(https://db.onlinewebfonts.com/c/5858c836a696c34b4f3b2aabfaebe462?family=Arno+Pro+Semibold+Caption);
@import url(https://db.onlinewebfonts.com/c/785709c3ae46131dc5781ea4a30f091e?family=Wien+Pro+Unic+W00+Regular);

body {
  margin: 0;
  padding: 0;

  background-color: wheat;
}

#my_name {
  font-size: 40px;
  font-family: "Guess Sans W00 Ultra";
  text-align: center;
  margin-top: 20px;
  color: #f17424;
  background-color: wheat;
  height: 80%;
}

#old,
#new {
  width: 50%;
  text-align: center;
  padding: 30px;
  margin: 10px auto;
  background-color: #f98d4a;
  color: white;
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 40px;
}

#old:hover,
#new:hover {
  background-color: #f17424;
}
