@import url(https://db.onlinewebfonts.com/c/1be1f31c94ba148427b422c0f7fb1fc9?family=Guess+Sans+W00+Ultra);
@import url(https://db.onlinewebfonts.com/c/5858c836a696c34b4f3b2aabfaebe462?family=Arno+Pro+Semibold+Caption);
@import url(https://db.onlinewebfonts.com/c/785709c3ae46131dc5781ea4a30f091e?family=Wien+Pro+Unic+W00+Regular);

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#title_mulah {
  font-size: 50px;
  font-family: "Guess Sans W00 Ultra";
  text-align: center;
  margin-top: 20px;
  color: #f17424;
  height: 80%;
}

#page2_container {
  padding-left: 18%;
}

#regis {
  font-size: 40px;
  font-family: "Arno Pro Semibold Caption";
  color: rgb(87, 93, 93);
  text-align: left;
}

#filldetails {
  font-size: 18px;
  margin-top: -30px;
  font-family: "Arno Pro Semibold Caption";
  font-style: italic;
  color: rgb(87, 93, 93);
}

#checked_loyalty {
  font-size: 18px;
  margin-top: -30px;
  font-family: "Arno Pro Semibold Caption";
  color: rgb(87, 93, 93);
  margin-top: 10px;
}

.hint {
  font-size: 2em;
  margin: 0;
  color: rgb(87, 93, 93);
  font-family: "Arno Pro Semibold Caption";
}

/* Add the following to remove default margin for input elements */
input {
  margin: 0;
}

#user_name {
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}

.birthday_container {
  display: flex;
  margin-bottom: 50px;
}

#day,
#month,
#year {
  flex: 1;
  margin-right: 10px; /* Add spacing between the input elements if needed */
}

#year {
  margin-right: 0; /* Remove right margin for the last element to avoid extra spacing */
}

#user_email {
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}

input[type="submit"] {
  background-color: #f17424;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 60%;
  height: 40px;
  margin-top: 30px;
  margin-left: 70px;
  font-family: "Arno Pro Semibold Caption";
}
